div{
    font-size: 60px;
    color: blueviolet;

}

span{

    background-color: cadetblue;
}

body{

    background-color: lightpink;
}

 h1{

.text_transform_uppercase{
    text-transform: uppercase;
 }


.text_transform_lowercase{
    text-transform: lowercase;
}
.text_transform_capitalize{
    text-transform: capitalize;
}




